* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    background-image: url(../assets/Image01.png);
    background-position: center;
    height: 45rem;
    display: flex;
    place-items: center;
    width: 100%;
}

.image-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 0 5em #3a4d39;
    font-size: 5rem;
}